<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Contacts</title>
</head>

<body>
    <div class="container">
        <div class="productsheader site-padding">
            <div class="slider-header">
                <a href="index.html"><img class="logo" src="img/logo.png" alt="logo"></a>
                <ul class="menu">
                    <li><a href="index.html">HOME</a></li>
                    <li><a  href="#">PRODUCTS</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="#">SHOWROOM</a></li>
                    <li><a class="active-link" href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <div class="produtsheadertext">
                <p>Contact Us</p>
            </div>
        </div>
        <div class="contactscontent">
            <a href="#"><img src="img/p.png" alt="icon"><h3>CALAFORNIA</h3> <h5>Phone:</h5><p>1900-1245-9874</p><h5>Email:</h5><p>info@interior.com</p><h5>Adress:</h5><p>132A Bridge Road Richmond VIC Australia.</p></a>
            <a href="#"><img src="img/p.png" alt="icon"><h3>CALAFORNIA</h3> <h5>Phone:</h5><p>1900-1245-9874</p><h5>Email:</h5><p>info@interior.com</p><h5>Adress:</h5><p>132A Bridge Road Richmond VIC Australia.</p></a>
           <a href="#"><img src="img/p.png" alt="icon"><h3>CALAFORNIA</h3> <h5>Phone:</h5><p>1900-1245-9874</p><h5>Email:</h5><p>info@interior.com</p><h5>Adress:</h5><p>132A Bridge Road Richmond VIC Australia.</p></a>
        </div>
        <div class="footer site-padding">
            <div class="footercontainer">
                <div class="contact">
                    <h3>CONTACT US</h3>
                    <p>132A Bridge Road Richmond VIC Australia.</p>
                    <p>Talk to us on 1300 info@interior.com</p>
                </div>
                <div class="useful">
                    <h3>Useful Information</h3>
                    <div class="usefulul">
                        <ul>
                            <li><a href="#">Sales terms</a></li>
                            <li><a href="#">Customer care</a></li>
                            <li><a href="#">Delivery</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Architect account</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Exchanges & Retutns</a></li>
                        </ul>
                    </div>
                </div>
                <div class="stay">
                    <h3>Let’s Stay in Touch!</h3>
                    <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                    <lable class="send"><input type="email" placeholder="your email adress"><a href="#"><img class="sendbutton" src="img/send.png" alt="send"></a></lable>
                </div>
            </div>
            <div class="botline">
                <p>© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                <div class="links"><a href="https://www.facebook.com/" target="_blank"><img src="img/fb.png" alt="facebook"></a><a href="https://twitter.com/" target="_blank"><img src="img/twit.png" alt="twitter"></a><a href="https://plus.google.com/" target="_blank"><img src="img/google.png" alt="google"></a><a href="https://ru.pinterest.com/" target="_blank"><img src="img/pin.png" alt="pinterest"></a></div>
                <p>Terms & Conditions / Privacy policy & Cookies</p>
            </div>
        </div>
    </div>

</body>

</html>
