<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Product</title>
</head>

<body>
    <div class="container">
        <div class="productheader">
            <div class="slider-header site-padding">
                <a href="index.html"><img class="logo" src="img/logo.png" alt="logo"></a>
                <ul class="menu">
                    <li><a href="index.html">HOME</a></li>
                    <li><a class="active-link" href="products.html">PRODUCTS</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="#">SHOWROOM</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a class="active-link-3" href="#">ALL</a></li>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">OFFICE</a></li>
                    <li><a href="#">FURNITURE</a></li>
                    <li><a href="#">MODERN</a></li>
                    <li><a href="#">CLASSIC</a></li>
                </ul>
            </div>
        </div>
        
        <div class="productcontent">
            <div class="productimg"><a href="#"><img src="img/slider1.jpg" alt="chear"></a><div class="underimage"><a href="#"><img src="img/controll11.png" alt="chear"></a>
            <a href="#"><img src="img/controll.png" alt="chear"></a>
            <a href="#"><img src="img/controll11.png" alt="chear"></a></div></div>
            <div class="producttext"><h2>Fishnet Chair</h2><h4>Hot Deal</h4><h1>$ 36.7/sq</h1><a class="button1" href="">ORDER US ></a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora sit provident, quasi eos eaque laboriosam consequuntur repellat doloremque. Aliquid praesentium soluta velit, amet tempore, sint maiores eveniet architecto dicta fuga?</p></div>
        </div>
                <div class="container-3 site-padding product-height">
            <div class="container-3-header ">
                <a class="trend" href="#">Related Products</a>
                <a class="explore-link" href="#">EXPLORE ALL ></a>

            </div>
            <div class="container-3-content">
                <a href="#"><img src="img/product-11.jpg" alt="product11"></a>
                <a href="#"><img src="img/product-21.jpg" alt="product21"></a>
                <a href="#"><img src="img/product-31.jpg" alt="product31"></a>
            </div>
        </div>
                <div class="footer site-padding">
            <div class="footercontainer">
                <div class="contact">
                    <h3>CONTACT US</h3>
                    <p>132A Bridge Road Richmond VIC Australia.</p>
                    <p>Talk to us on 1300 info@interior.com</p>
                </div>
                <div class="useful">
                    <h3>Useful Information</h3>
                    <div class="usefulul">
                        <ul>
                            <li><a href="#">Sales terms</a></li>
                            <li><a href="#">Customer care</a></li>
                            <li><a href="#">Delivery</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Architect account</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Exchanges & Retutns</a></li>
                        </ul>
                    </div>
                </div>
                <div class="stay">
                    <h3>Let’s Stay in Touch!</h3>
                    <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                    <lable class="send"><input type="email" placeholder="your email adress"><a href="#"><img class="sendbutton" src="img/send.png" alt="send"></a></lable>
                </div>
            </div>
            <div class="botline">
                <p>© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                <div class="links"><a href="https://www.facebook.com/" target="_blank"><img src="img/fb.png" alt="facebook"></a><a href="https://twitter.com/" target="_blank"><img src="img/twit.png" alt="twitter"></a><a href="https://plus.google.com/" target="_blank"><img src="img/google.png" alt="google"></a><a href="https://ru.pinterest.com/" target="_blank"><img src="img/pin.png" alt="pinterest"></a></div>
                <p>Terms & Conditions / Privacy policy & Cookies</p>
            </div>
        </div>
    </div>

</body>

</html>
