<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Products</title>
</head>

<body>
    <div class="container">
        <div class="productsheader site-padding">
            <div class="slider-header">
                <a href="index.html"><img class="logo" src="img/logo.png" alt="logo"></a>
                <ul class="menu">
                    <li><a href="index.html">HOME</a></li>
                    <li><a class="active-link" href="#">PRODUCTS</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="#">SHOWROOM</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <div class="produtsheadertext">
                <p>Our Products Range</p>
            </div>
        </div>
        <div class="productscontent site-padding">
            <div class="productscontentmenu ">
                <ul>
                    <li><a class="active-link-2" href="#">ALL</a></li>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">OFFICE</a></li>
                    <li><a href="#">FURNITURE</a></li>
                    <li><a href="#">MODERN</a></li>
                    <li><a href="#">CLASSIC</a></li>
                </ul>
            </div>
            <div class="productscontent1">
                <a href="product.html"><img src="img/product-11.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-21.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-31.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-41.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-11.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-31.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-41.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-11.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-5.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-6.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-11.jpg" alt="product"></a>
                <a href="product.html"><img src="img/product-21.jpg" alt="product"></a>
            </div>
            <a class="load" href="#"><img src="img/load.png" alt="load"></a>
        </div>
        <div class="container-2">
            <div class="prod1">
                <h4>EXCLUSIVE</h4>
                <h2>FISHNET CHAIR</h2>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                <a class="button" href="#">ORDER US ></a>
            </div>
            <div class="prod2">
                <h4>EXCLUSIVE</h4>
                <h2>FISHNET CHAIR</h2>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                <a class="button" href="#">ORDER US ></a>
            </div>
        </div>
        <div class="footer site-padding">
            <div class="footercontainer">
                <div class="contact">
                    <h3>CONTACT US</h3>
                    <p>132A Bridge Road Richmond VIC Australia.</p>
                    <p>Talk to us on 1300 info@interior.com</p>
                </div>
                <div class="useful">
                    <h3>Useful Information</h3>
                    <div class="usefulul">
                        <ul>
                            <li><a href="#">Sales terms</a></li>
                            <li><a href="#">Customer care</a></li>
                            <li><a href="#">Delivery</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Architect account</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Exchanges & Retutns</a></li>
                        </ul>
                    </div>
                </div>
                <div class="stay">
                    <h3>Let’s Stay in Touch!</h3>
                    <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                    <lable class="send"><input type="email" placeholder="your email adress"><a href="#"><img class="sendbutton" src="img/send.png" alt="send"></a></lable>
                </div>
            </div>
            <div class="botline">
                <p>© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                <div class="links"><a href="https://www.facebook.com/" target="_blank"><img src="img/fb.png" alt="facebook"></a><a href="https://twitter.com/" target="_blank"><img src="img/twit.png" alt="twitter"></a><a href="https://plus.google.com/" target="_blank"><img src="img/google.png" alt="google"></a><a href="https://ru.pinterest.com/" target="_blank"><img src="img/pin.png" alt="pinterest"></a></div>
                <p>Terms & Conditions / Privacy policy & Cookies</p>
            </div>
        </div>

</body>

</html>
