body {
    background-color: #f8f8f8;
}


.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(foto/3.jpg);

}


.container {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 20px;
    background-color: #DBDBDB;
}

.menu {
    font-family: "Monotype Corsiva", cursive;
    font-size: 20px;
    display: flex;
}

.menu li {
    background-color: #DBDBDB;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.menu > li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu > li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.menu li:hover {
    background-color: #A3A3A3;
}

.menu > li:hover ul {
    display: block;
    margin: 0;
    padding: 0;
}


.menu ul {
    display: none;
}

.menu a {
    color: dimgrey;
    text-decoration: none;

}

.prod{
    margin: 10px;
}
.menu a:hover {
    color: black;

}

.logo {
    margin-left: 50px;
    outline: none;
    width: 100px;
    height: 100px;
}

.product h2,
h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    clear: both;

}

.product img {
    float:left;
    margin: 10px;
}

.product img:hover {
    outline: none;
}

.shortdescription_h {
    clear:none;
    overflow: hidden;
}

.product p:first-letter {
    font-family: Impact, serif;
    color: #545454;
    font-size: 20px;
}

.shortdescription {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    clear: both;
}

.characteristics {
    list-style-image: url(foto/icon.png);
    font-family: "Bradley Hand", cursive;

}

input {
    font-family: "Monotype Corsiva", cursive;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}

.products{
    display: flex;
}
.product .button:hover
{
    background-color: #858585;
}

.product .button:active
{
    background-color: #FFF;
}

.button {
    font-family: Impact, serif;
    width: 150px;
    height: 50px;
}

textarea {
    font-family: "Bradley Hand", cursive;
    width: 300px;
    height: 200px;
}

img {
    outline: 3px solid #949494;
    height: 300px;
    width: 300px;
}





input[type="email"]:focus {
    background-color: #272626;
    color: white;

}


input[type="text"] {
    text-transform: capitalize;
}

textarea {
    text-transform: capitalize;

}

table {
    width: 100%;
    height: 300px;
    border: 5px solid #353131;
    border-collapse: collapse;
}

.product tr:first-child {
    height: 100px;
}

td {
    font-family: Impact, serif;
    border: 2px solid #353131;
    background-color: #D4D4D4;
    vertical-align: middle;
    text-align: center;
    color: #545454;
}
